# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
!pip install selenium

Requirement already satisfied: selenium in d:\otavi\programas\anaconda\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in d:\otavi\programas\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in d:\otavi\programas\anaconda\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\otavi\appdata\roaming\python\python38\site-packages (from selenium) (1.26.7)
Requirement already satisfied: attrs>=19.2.0 in d:\otavi\programas\anaconda\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in d:\otavi\programas\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in d:\otavi\programas\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in d:\otavi\programas\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in d:\otavi\programas\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\otavi\appdata\roaming\python\python38\site-packages (from trio~=0.17->selenium) (2.8)
Requirement already satisfied: sortedcontainers in d:\otavi\programas\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in d:\otavi\programas\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in d:\otavi\programas\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in d:\otavi\programas\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in d:\otavi\programas\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\otavi\appdata\roaming\python\python38\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2019.11.28)
Requirement already satisfied: cryptography>=1.3.4 in d:\otavi\programas\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\otavi\appdata\roaming\python\python38\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.13.0)
Requirement already satisfied: h11<1,>=0.9.0 in d:\otavi\programas\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
from selenium import webdriver # controlar o navegador
from selenium.webdriver.common.keys import Keys # controlar as teclas
from selenium.webdriver.common.by import By # localizar os itens no navegador

navegador = webdriver.Chrome()

navegador.get("https://google.com")

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do Dólar")

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').click()

cotacao_dol = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

navegador.get("https://google.com")

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do Euro")

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[3]/center/input[1]').click()

cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute("value")

cotacao_ouro = cotacao_ouro.replace(",", ".")

print(cotacao_euro)

print(cotacao_dol)

print(cotacao_ouro)

navegador.quit()

5.538855000000001
5.075
325.06

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [3]:
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [4]:
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dol)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

tabela["Preçode de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Preçode de Venda
0,Câmera Canon,999.99,Dólar,5.075000,5074.94925,1.40,6999.930,7104.928950
1,Carro Renault,4500.00,Euro,5.538855,24924.84750,2.00,54000.000,49849.695000
2,Notebook Dell,899.99,Dólar,5.075000,4567.44925,1.70,7649.915,7764.663725
3,IPhone,799.00,Dólar,5.075000,4054.92500,1.70,6791.500,6893.372500
4,Carro Fiat,3000.00,Euro,5.538855,16616.56500,1.90,34200.000,31571.473500
5,Celular Xiaomi,480.48,Dólar,5.075000,2438.43600,2.00,4804.800,4876.872000
6,Joia 20g,20.00,Ouro,325.060000,6501.20000,1.15,8050.000,7476.380000

### Agora vamos exportar a nova base de preços atualizada

In [5]:
tabela.to_excel("ProdutosNovo.xlsx", index=False)